<ion-button routerLink ='/home' >Go back</ion-button>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Email is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      Please provide valid email id.
    </span>
  </form>
</ion-content>







  <!-- <div class = "flex-center"> -->

    <!-- <ion-card>
      <ion-card-header>
              <ion-card-title color="success">Reciclica</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type = "email"></ion-input>
        </ion-item>
      <ion-item> 
        <ion-label position="floating">Password</ion-label>
        <ion-input type = "password"></ion-input>
      </ion-item>
<ion-button color ="dark" fill = "clean" size ="full">Forgot email/password</ion-button>
<ion-button color ="success" size ="full">Login</ion-button>
<ion-button color ="success" fill = clean size ="full">Register</ion-button>
      </ion-card-content>
    </ion-card> -->


  <!-- </div> -->

